$def with (producto)
$var title: Actualizar: $producto['nombre'] | Inventario

<div class="center-content">
    <div class="center-1">
        <h1>Actualizar Producto: $producto['nombre']</h1>
    </div>

    <div>
        <form method="post">
            <img src="img" alt="Imagen">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" value="${producto['nombre']}">

            <label for="description">Descripción: </label>
            <textarea name="description" id="description" cols="30" rows="5">$producto['descripcion']</textarea>

            <label for="cost">Precio:</label>
            <input type="number" name="cost" id="cost" value="${producto['precio']}" min="0" step="0.01">

            <label for="stock">Existencias:</label>
            <input type="number" name="stock" id="stock" value="${producto['existencias']}" min="0" max="9999">

            <a href="/"><input type="button" value="Cancelar"></a>
            <button type="submit">Actualizar</button>
        </form>
        
    </div>
</div>