$def with (producto)
$var title: Eliminar Artículo: $producto['nombre']| Inventario

<div class="center-content">
    <div class="center-1">
        <h1>Eliminar Artículo: $producto['nombre']?</h1>
    </div>

    <div>
        <form method="post">
            <!--<img src="img" alt="Imagen"> -->
            
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" value="${producto['nombre']}" disabled>
            
            <label for="description">Descripción: </label>
            <textarea name="description" id="description" cols="30" rows="5" disabled>${producto['descripcion']}</textarea>
            
            <label for="cost">Precio:</label>
            <input type="text" name="cost" id="cost" value="${producto['precio']}" disabled>
            
            <label for="stock">Existencias:</label>
            <input type="text" name="stock" id="stock" value="${producto['existencias']}" disabled>
            
            <a href="/"><input type="button" value="Cancelar"></a>
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>
