$def with (productos)

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>

<body>
    <div class="center-content">
        <div class="center-1">
            <h1>Productos</h1>

            <a href="insertar">insertar</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Existencias</th>
                    <th colspan="3">Opciones</th>
                </tr>
            </thead>
            <tbody id="datos">
                $for producto in productos:
                    <tr>
                        <td>$producto['nombre']</td>
                        <td>$producto['descripción']</td>
                        <td>$producto['precio']</td>
                        <td>$producto['stock']</td>
                        <td><a href="#" class="opciones">ver</a></td>
                        <td><a href="#" class="opciones">editar</a></td>
                        <td><a href="#" class="opciones">borrar</a></td>
                    </tr>
            </tbody>

        </table>
    </div>
</body>

</html>