<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Artículo| Inventario</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="center-content">
        <div class="center-1">
            <h1>Insertar Nuevo Producto</h1>
        </div>
        
        <div>
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" placeholder="Nombre del artículo">

            <label for="description">Descripción: </label>
            <textarea name="description" id="description" cols="30" rows="5" placeholder="Inserta la descripción del producto"></textarea>

            <label for="cost">Precio:</label>
            <input type="number" name="cost" id="cost" min="0">

            <label for="stock">Existencias:</label>
            <input type="number" name="stock" id="stock" min="0" max="999">
            
            <input type="file" name="image" id="image">

            <input type="button" value="Insertar">
        </div>
    </div>
</body>

</html>