$var title: Nuevo Artículo| Inventario

<div class="center-content">
    <div class="center-1">
        <h1>Insertar Nuevo Producto</h1>
    </div>
    
    <div>
        <form method="post">
            <label for="name">Nombre: </label>
            <input type="text" name="name" id="name" placeholder="Nombre del artículo" required>

            <label for="description">Descripción: </label>
            <textarea name="description" id="description" cols="30" rows="5" placeholder="Inserta la descripción del producto" required></textarea>

            <label for="cost">Precio:</label>
            <input type="number" name="cost" id="cost" min="0" step="0.01" required>

            <label for="stock">Existencias:</label>
            <input type="number" name="stock" id="stock" min="0" max="999" required>
            
            <input type="file" name="image" id="image">

            <button type="submit">Insertar</button>
        </form>
    </div>
</div>
